body {
    font-family: $body-fonts;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5 {
    font-family: $body-fonts;
    font-weight: normal;
}

.nowrap {
    white-space: nowrap;
}

// -------------------------------------------------- sizing

// Based on Perfect Fourth scale

h1 {
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3{
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.75em;
  }
