<!-- 2 Columns Layout-->
section.twocol
    header
      h1 This is a 2 column layout.
    .first 1
    .second 2
    
<!-- 3 Columns Layout-->
section.threecol
    header
      h1 This is a 3 column layout.
    .first 1
    .second 2
    .third 3
    
<!-- 4 Columns Layout-->
section.fourcol
    header
      h1 This is a 4 column layout.
    .first 1
    .second 2
    .third 3
    .fourth 4
    
<!-- 5 Columns Layout-->
section.fivecol
    header
      h1 This is a 5 column layout.
    .first 1
    .second 2
    .third 3
    .fourth 4
    .fifth 5
    
<!-- 6 Columns Layout-->
section.sixcol
    header
      h1 This is a 6 column layout.
    .first 1
    .second 2
    .third 3
    .fourth 4
    .fifth 5
    .sixth 6
    
<!-- 12 Columns Layout-->
section.twelvecol
    header
      h1 This is a 12 column layout.
    .first 1
    .second 2
    .third 3
    .fourth 4
    .fifth 5
    .sixth 6
    .seventh 7
    .eighth 8
    .ninth 9
    .tenth 10
    .eleventh 11
    .twelveth 12
